.navbar{
  background-color: orangered;
  
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  padding: 13px 20px;
  
}

a {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: black;
  
}
.login{
  float: right;
  color: white;
  padding: 12px 75px;
}
